# OS
.DS_Store/
*.nb
time-travel.sh

# IDE
.vscode/
.vs/
.idea/
*.iml

# Rust
target/
Cargo.lock
.cargo/config.toml

# Node
node_modules/
projects/packages/panduck-unknown-wasm32/pkg/
projects/packages/homepage/dist/
projects/packages/homepage/public/
projects/crates/panduck-napi/index.d.ts
projects/crates/panduck-napi/index.js
projects/crates/panduck-napi/*.node

